<footer id="footer-default" class="text-center text-lg-start bg-body-tertiary text-muted">
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <!-- SECTION - Description -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <img src="Images/person-raised-hand.svg" alt="">
                    </h6>
                    <p>
                        Here is some useful information about this website
                    </p>
                </div>
                <!-- !SECTION -->
    
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Build Using
                    </h6>
                    <p>
                        <a href="https://nodejs.org/en" style="text-decoration: none;">
                            <span class="me-2"><img src="Media/SVG/Programming/node.svg" width="25px" height="25px"></span>
                            Node.js                
                        </a>
                    </p>
                    <p>
                        <a href="https://express/js.com" style="text-decoration: none;">
                            <span class="me-2"><img src = "Media/SVG/Programming/icons8-express-js.svg" width="25px" height="25px"></span>
                            Express.js                 
                        </a>
                    </p>
                    <p>

                        <a href="https://getbootstrap.com/" style="text-decoration: none;">
                            <span class="me-2"><img src="Media/SVG/Programming/bootstrap-fill.svg" width="25px" height="25px"></span>
                            Bootstrap 
                        </a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p>
                        <span><img src="Media/SVG/envelope-fill.svg"></span>
                        <strong>Email: </strong>
                        techiefishes@gmail.com
                    </p>
                    <p>
                        <span><img src="Media/SVG/telephone-fill.svg"></span>
                        <strong>Phone Number: </strong>
                        +1 (347) 471-9736
                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>